* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}

html, body {
  height: 100%;
  min-width: 320px;
  min-height: 450px;
}

a {
  text-decoration: none;
  color: white;
}

/* Header block */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-text h1 {
  font-size: 40px;
  font-family: "KronaOne", sans-serif;
  font-weight: 500;
}

/* Content block */
.content {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#categoires {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#categoires .categories-wrap {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
#categoires .categories-wrap .category {
  font-size: 30px;
  font-family: "NotoSerif", serif;
}

.news-line-wrap {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-line-wrap .news-line {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.m-left-40 {
  margin-left: 40px;
}

.news-container {
  width: 520px;
  height: 250px;
  margin-top: 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 7px 15px 4px #c1c1c1;
  cursor: pointer;
}
.news-container:hover {
  transform: scale(1.01);
}

.card-overlay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  position: absolute;
  z-index: 1;
  background: linear-gradient(-180deg, transparent 0, rgba(0, 0, 0, 0.6) 100%);
}

.news-back-img {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  transition: all 0.2s ease-in;
}

.news-label {
  position: absolute;
  bottom: 15px;
  margin: 0 20px;
  z-index: 3;
}

.news-inf {
  width: 100%;
  float: none;
  display: flex;
}

.news-info {
  width: -webkit-max-content;
  width: max-content;
  margin: 0 20px;
  font-size: 15px;
  color: #d1d1d1;
  float: left;
  font-family: "NotoSerif", serif;
}

.news-header {
  float: none;
  margin: 20px 20px;
  font-size: 25px;
}
.news-header span {
  color: #d1d1d1;
  font-family: "NotoSerif", serif;
  font-weight: 500;
}

/* Footer */
footer {
  width: 100%;
  height: 10%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#telegram {
  color: #24a8e9;
}

#telegram:hover {
  background: #24a8e9;
}

#instagram {
  color: #fd3333;
}

#instagram:hover {
  background: #f1e23b;
  background: -webkit-gradient(left bottom, right top, color-stop(8%, #f1e23b), color-stop(10%, #f1e23b), color-stop(53%, #e33030), color-stop(100%, #8a27e6));
  background: linear-gradient(45deg, #f1e23b 8%, #f1e23b 10%, #e33030 53%, #8a27e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f1e23b", endColorstr="#8a27e6", GradientType=1 );
}

#footer-container {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-container a {
  background-color: white;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 20px;
  border-radius: 35%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-container a i {
  font-size: 30px;
}
#footer-container a:hover i {
  color: #fafafa;
  transition: 0.5s;
  transform: scale(1.2);
}

#footer-label {
  font-size: 30px;
  font-family: "KronaOne", sans-serif;
  margin: 20px;
}

@media (max-width: 1280px) {
  /* Header */
  #logo-text h1 {
    font-size: 30px;
  }

  header {
    height: 80px;
  }

  /* Content block */
  .wrapper {
    width: 720px;
  }

  #categoires .categories-wrap {
    width: 90%;
  }

  .news-line-wrap .news-line {
    width: 100%;
  }

  .news-container {
    width: 340px;
    height: 190px;
    margin-top: 30px;
  }

  .m-left-40 {
    margin-left: 30px;
  }

  .news-header {
    margin: 10px 20px;
    font-size: 20px;
  }

  /* Footer */
  #footer-label {
    font-size: 25px;
    margin: 15px;
  }
}
@media (max-width: 750px) {
  /* Content block */
  .wrapper {
    width: 520px;
  }

  #categoires .categories-wrap {
    width: 100%;
  }

  #categoires .categories-wrap .category {
    font-size: 25px;
  }

  .news-container {
    width: 450px;
    height: 200px;
  }

  .m-left-40 {
    margin-left: 0px;
  }

  .news-header {
    margin: 10px 20px;
  }

  #footer-container a {
    margin: 0;
  }
}
@media (max-width: 600px) {
  /* Content block */
  .wrapper {
    width: 320px;
  }

  .news-container {
    width: 300px;
    height: 150px;
  }

  .news-header {
    margin: 10px 20px;
    font-size: 15px;
  }

  .news-info {
    font-size: 10px;
  }

  /* Footer */
  #footer-label {
    font-size: 20px;
    margin: 10px;
  }

  #footer-container a {
    margin: 0;
  }
}